<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-humansecurity" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
  
  <name>HumanSecurityPlugin</name>
  
  <description>Cordova plugin for integrating Human Security into hybrid Apps</description>
  
  <license>MIT</license>

  <preference name="HUMAN_APP_ID" value="$HUMAN_APP_ID" />
  <preference name="HUMAN_DOMAINS" value="$HUMAN_DOMAINS" />

  <platform name="ios">
  <source-file src="src/ios/HumanSecurityPlugin.swift" />
  <header-file src="src/ios/HumanSecurity-Bridging-Header.h" />

  <source-file src="src/ios/AppDelegate+HumanSecurity.m" />
  <header-file src="src/ios/AppDelegate+HumanSecurity.h" />

  <js-module src="www/HumanSecurityPlugin.js" name="HumanSecurityPlugin">
    <clobbers target="plugins.HumanSecurity" />
  </js-module>

  <podspec>
    <pods use-frameworks="true">
      <pod name="HUMAN" spec="~> 4.0" />
    </pods>
  </podspec>

  <config-file target="*-Info.plist" parent="HUMAN_APP_ID">
			<string>$HUMAN_APP_ID</string>
	</config-file>

  <config-file target="*-Info.plist" parent="HUMAN_DOMAINS">
			<string>$HUMAN_DOMAINS</string>
	</config-file>

  <config-file parent="/*" target="config.xml">
    <feature name="HumanSecurityPlugin">
      <param name="ios-package" value="HumanSecurityPlugin" />
      <param name="onload" value="true" />
    </feature>
  </config-file>
</platform>
</plugin>
